h1.welcome {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}


button:hover {
  opacity: .7;
}

h2.instructions {
  text-align: center;
}

input.welcome {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

.jumbotron {
  padding: 2rem 2rem;
  margin-bottom: 1rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #84CEEB;
}

ul {
  padding-top: 5px;
}

li {
  font-family: 'Noto Sans', sans-serif;
}
